// colors
$gray: #F7F8FA;
$middle-gray: #F2F3F5;
$dark-gray: #6C7481;
$white: #ffffff;
$orange: #FE940C;
$status-pending: #E6E7EB;
$status-verified: #4CBD8F;
$black: #000000;

// font sizes
$title-font: 2.5rem;
$content-font: 16px;
$small-font: 12px;

// font weight
$bolder: bolder;

// other
$border-radius: 5px;